.navContainer{
    background-color: black;
}

.navItems{
    display: flex;
    flex-direction: column;
}

.navItem1{
    text-decoration: none;
    color: white;
}

.navItem2{
    color: white;
    text-decoration: none;
}